.box {
 width: auto;
 height: auto;
 padding: 0.7rem;
 border-radius: 0.7rem;
 border: 0.1rem solid  rgb(90, 241, 85);
 display: flex;
 flex-direction: column;
 row-gap: 0.7rem;
 background-color: rgb(58, 57, 57);
 position: relative;
}
.ip{
 width: 20rem;
 height: 4rem;
 margin-right: 0.2rem;
 border-radius: 0.4rem;
 font-size: 2rem;
 text-align: right;
 text-indent: 2rem;
 background-color: black;
 color: rgb(90, 241, 85);
}
.row{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 font-size: 1.7rem;
 text-align: center;
 font-weight: 700 ;
}
.btn{
 width: 4rem;
 height: auto;
 padding: 0.4rem;
 background-color: rgb(90, 241, 85);
 border-radius: 20%;
}

.gift{
    width: 22rem;
    height: 12rem;
    position: absolute;
    top: 7rem;
    left: -0.4rem;
    background-image: url('./../../../public/gift.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2rem solid red;
    border-radius: 1rem;
    animation: moveBox 7s infinite alternate;
}

@keyframes moveBox {
    0% {
        background-image: url('./../../../public/gift.jpg');
    }
    50% {
        background-image: url('./../../../public/gift2.jpg'); 
    }
    100% {
        background-image: url('./../../../public/gift3.png');
    }
}